* {
    margin: 0;
    padding: 0;
}

body {
    background-color: oldlace;
}

button {
    text-align: center;
    padding: 5px 10px;
    font-size: large;
}
h1 {
    font-size: 75px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 310px;
    margin-top: 25px;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    background-color:  lightgray;
    margin: 25px auto;
}

.cell {
    border: 1px solid oldlace;
}