* {
    margin: 0;
    padding: 0;
}

body {
    background-color: oldlace;
}

button {
    text-align: center;
    padding: 5px 10px;
    font-size: large;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    background-color:  lightgray;
    margin: 25px auto;
}

.cell {
    border: 1px solid darkgray;
}